html {
        height: 100%;
}

body {
/*	max-width: 1024px;
	min-width: 950px; */
	margin: 4px 14px 14px 14px;
        height: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
        background: #ffffff;
}

#headerdiv  {
	margin:0;
	padding:0;
	max-width:1024px !important;
	min-width:950px !important;
	width:950px;
}

td, th, p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
}

H1 {
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-large;
}
H2 {
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-large;
}
H3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: large;
}
H4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: medium;
}

form {
	display:inline;
	margin:0;
}
input, select, textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 1.05em;
/*	border: 1px solid black !important; */ /* Checkboxes look wierd in IE */
	border-width: 1px;
	border-color: black;
	vertical-align: middle;
}
input[type=text], input[type=password], textarea, select  {
	border-style: solid !important;
}
select  {
	font-size: 100%;
	margin:auto !important;
	margin-bottom: 4px;
}
button  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	border: 1px solid black;
}
.form_table_main {
	width: 100%;
	background: #dddddd;
	padding-bottom: 10px;
	border: 1px solid #999999;
}
.form_table  {
	width: 100%;
	padding: 2px;
}
.print_header  {
        background: #dddddd;
        border: 2px solid #999999;
}

div#toplinks  {
	padding:4px;
	text-align: right;
	background: #cccccc;
	border-bottom: 1px solid #999999;
}
#label1  {
	width: auto !important;
	width: 28%;
	padding:2px;
	background: #cccccc;
	vertical-align:top;
	white-space:nowrap;
	border: 1px solid #999999;
}
#label1-nowidth  {
	padding:2px;
	background: #cccccc;
	vertical-align:top;
	white-space:nowrap;
	border: 1px solid #999999;
}
#label2-nowidth  {
	font-size:85%;
	padding:2px;
	background: #cccccc;
	vertical-align:top;
	white-space:nowrap;
	border: 1px solid #999999;
}
#value1  {
	padding: 2px;
	vertical-align:middle;
}
table.nowrap td {
	white-space:nowrap;
}
table.nowrap td#label1 {
	width:auto;
}

.readonly #label1  {
	width:27% !important;
}
.readonly #value1  {
	width: 180px;
	padding: 2px;
	border: 1px solid #999999;
	background: #e5e5e5;
}
.readonly2 #value1, #readonly-value  {
	padding: 2px;
	border: 1px solid #999999;
	background: #e5e5e5;
}

.readonly_input  {
	margin: 2px;
	padding-left:2px;
	background: #cccccc;
}

div#reportheader  {
	height: 12px;
	padding:2px 4px 5px 4px;
	background: url(../images/titlebar.png) repeat-x;
	border: 1px solid #999999;
	border-bottom: 3px solid #999999;
}
div#roomitemheader  {
	height: 12px;
	padding:2px 4px 5px 4px;
//	background: url(../images/titlebar.png) repeat-x;
	background: #cccccc;
	border: 1px solid #999999;
	border-bottom: 2px solid #999999;
}
div.row span.left  {
	float: left;
	width: 69%;
	text-align: left;
	overflow: hidden;
}
div.row span.right  {
	float: right;
	width: 29%;
	text-align: right;
}
div.row1 span.left  {
	float: left;
	width: 49%;
	text-align:left;
}
div.row1 span.right  {
	float: left;
	width: 49%;
	text-align:left;
}
div.row2 span.left, div.row2 div.left  {
	float:left;
	width:auto;
	text-align:left;
}
div.row2 span.right, div.row2 div.right  {
	float:right;
	width:auto;
	text-align:left;
}

.equip_tab  {
	padding: 3px;
}
.equip_input  {
	padding-top:4px;
	display:none;
}
.equip_view  {
	padding:5px 0px 5px 10px;
	width:19%;
	white-space:nowrap;
	border-left:1px solid #999999;
}

.report_title {
	font-weight: bold;

}
.separator {
	margin: 6px 16px 6px 16px;
	text-align: center;
	border-top: 1px solid black;
}

.textarea-lg  {
	width: 300px;
}

.footer_left  {
	width: 150px;
/*	float: left; */
}
.footer_right  {
/*	width: 100%; */
	text-align: center;
}


/* Login */
.login_header {
	font-size: 9px;
	background-color: #cccccc;
	text-align: left;
	border-bottom: 1px solid #999999;
}
table .login {
	width: 280px;
	text-align: left;
	font-weight: normal;
	border: 1px solid #999999;
}

.left_column_outer  {
	width: 150px;
	float: left;
	margin-right: 10px !important;
	margin-right: 5px;
	background: #dddddd;
	border: 1px double #999999;
}
.left_column_inner  {
	min-height: 400px;
	padding: 4px;
}
.left_col_prop {
	height:400px;
	float:right;
	width:1px;
}
.center_column  {
	width: 100%;
}

div.module_body_outer  {
	width: 260px;
	border: 1px solid #999999;
}
td.module_body_outer  {
	width: 260px;
	overflow:normal !important;
	overflow:hidden;
}
.module_header  {
	width:auto !important;
	width:100%;
	padding: 3px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	background: url(../images/titlebar.png) repeat-x;
}
.module_body_inner  {
	border-top: 3px double #999999;
	padding: 4px;
}
.module_prop {
	height:220px;
	float:right;
	width:1px;
}

.search_results  {
	margin-top: 10px;
}

table .xray  {
	padding-top: 4px;
	width: 95%;
}
.xray td  {
	white-space: nowrap;
}
.xray td#value  {
	text-align: right;
}
.xray input  {
	width: 90%;
	padding: 2px;
	border: 1px solid #999999;
	background: #e5e5e5;
}
table.geomag  {
	margin:0;
	padding:0;
	width:auto !important;
	width:98%;
}
.geomag td  {
	padding: 2px;
}
.geomag td#value  {
	padding: 0px;
	background: #e5e5e5;
	text-align: center;
	border: 1px solid #999999;
}
.geomag td#kp-elem  {
	font-size: 9px;
	text-align: center;
	border: 1px solid #999999;
}
.geomag input  {
	text-align: center;
	border: 0px;
	background: #e5e5e5;
}
.geomag #geomag_kp_xx  {
	width: 100%;
}
.geomag #geomag_ap, .geomag #geomag_summary  {
	width: 90%;
	text-align: left;
}
.moon_phase td  {
	text-align: center;
}

td#stats_userlist_body_outer  {
	padding: 0px 8px 8px 8px;
	width: 250px;
	vertical-align: top;
}
div#stats_userlist_body_outer  {
	padding-left: 8px;
	margin-top: 30px;
	border-left: 1px solid #999999;
}
.stats_general_body_inner  {
	padding: 8px;
	white-space: nowrap;
}
.stats_userlist_body_inner  {
	padding: 8px 0px 0px 12px;
	white-space: nowrap;
}
.stats_user_info  {
	width: 350px;
}
.stats_user_info td {
	border: 1px solid #999999;
	padding: 2px;
}
.stats_user_info td#label  {
	background: #e5e5e5;
}
.stats_user_info td#value  {
	text-align: center;
}

.investigators {
	width: 99%;
	margin:0px;
}
.investigators td#investigators_col  {
	padding-left: 6px !important;
	padding-left: 2px;
}
.users_form  {
	padding: 2px;
	margin: 2px 0px 4px 0px;
	text-align: center;
	border:1px solid #999999;
}
.inv_name, .inv_role, .inv_data_submit, .inv_report_submit  {
	height:20px;
	float:left;
	padding: 2px;
	margin: 2px;
	text-align: center;
	border:1px solid #999999;
}
#inv_label  {
	height: 35px !important;
	height: 40px;
	background: #cccccc;
}
.inv_data_submit, .inv_report_submit  {
	height: 20px !important;
	height: 26px;
	width: 75px !important;
	width: 80px;
}
.inv_name  {
	width:160px !important;
	width:178px;
}
.inv_role  {
	width:120px;
}
#morelink  {
	border-top:1px solid #999999;
	text-decoration:none;
}

.prop-vert {
	height:1px;
	width:770px;
	padding:0;
	margin:0;
}
.prop {
	height:140px;
	float:right;
	width:1px;
}
.prop-small {
	height:40px;
	float:right;
	width:1px;
}
.clear {
	clear:both;
	height:1px;
	overflow:hidden;
}
#moon.prop, #xray.prop, #geo.prop  {
	height:165px;
	float:right;
	width:1px;
}

div.divider  {
	padding:6px;
}

.error  {
	width: 90%;
	padding: 8px;
	margin-left: 15px;
	text-align: center;
	color: #ff0000;
	border: 2px solid Black;
}
.large  {
	font-size:large;
}
.normal  {  /* more or less */
	font-size:12px;
}
.medium  {
	font-size:10px;
}
.small  {
	font-size:9px;
}

/* Links */
a:link, a:visited {
        color: #454545;
        text-decoration: underline;
        font-weight: normal;
}
a:hover, a.green:hover {
        color: #900;
        text-decoration: none;
        font-weight: normal;
}
.green,a.green  {
	color: green;
	text-decoration: none;
}
.red,a.red  {
	color: #ff0000;
	text-decoration: none;
}

/* Fading Tooltips By Dustin Diaz */
/* http://www.dustindiaz.com/sweet-titles */
body div#toolTip { position:absolute;z-index:1000;width:220px;background:#000;border:2px double #fff;text-align:left;padding:5px;min-height:1em;-moz-border-radius:5px; }
body div#toolTip p { margin:0;padding:5px;color:#fff;font:11px/12px verdana,arial,sans-serif; }
body div#toolTip p em { display:block;margin-top:3px;color:#f60;font-style:normal;font-weight:bold; }
body div#toolTip p em span { font-weight:bold;color:#fff; }
abbr,help { cursor:pointer; }
